{% if app.user %}
    <span class="text-success">
        Bienvenue {{ app.user.name }}
    </span>

    <a href="{{ path('app_logout') }}" class="btn btn-danger btn-sm">
        Logout
    </a>
{% else %}
    <a href="{{ path('app_login') }}" class="btn btn-primary btn-sm">
        Login
    </a>
{% endif %}